@import "colors";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

/* Bedirhan YILDIRIM reset.css */
body {
  margin: 0 auto;
  font: 15px/19px 'Roboto', Arial;
  transition: all 0.5s ease 0s;
  background-color: $color-white;
}
select, input, textarea {
  outline: none;
  box-shadow: none;
}
img {
  border: none;
}
a {
  text-decoration: none;
}
table, tr, td, ul, li, h1, h2, h3, h4, h5, h6, p, form, input, textarea {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
}
:focus {
  outline: none;
}
html {
  scroll-behavior: smooth;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
